@using Meeting_Minutes.Controllers
@model Meeting_Minutes.Models.MeetingItemsViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.DateUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Participants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Participants)
        </dd>
    </dl>
</div>

<div>
 <a type="button" class="btn btn-primary" asp-action="Index"><i class="bi bi-backspace"> Back to List</i></a>|

<a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Meeting?.Id"><i class="bi bi-pencil-square">Edit</i></a>|


   <a type="button" class="btn btn-primary" asp-action="DownloadCSV" asp-route-id="@Model.Meeting.Id" asp-controller="Meetings"><i class="bi bi-file-earmark-excel"> Download CSV</i></a>
	

</div>
<div class="text-end">
    @*<button class="btn btn-success" asp-action="Create" asp-route-id="@Model.Meeting.Id" asp-controller="MeetingItems"> Add New Meeting Item  </button>*@
@*<button class="btn btn-success" asp-action="SendMail" asp-route-id="@Model.Meeting.Id" asp-controller="Meetings"> SendMailButtonPleasePressMe  </button>
*@

<a type="button" class="btn btn-success" asp-action="Create" asp-route-id="@Model.Meeting.Id" asp-controller="MeetingItems"><i class="bi bi-plus-circle-dotted"> Add New Meeting Item</i></a>
	


    @if(@Model.Meeting.Status == MeetingStatus.Started)
    {
        <a type="button" class="btn btn-primary" asp-action="SendMail" asp-route-id="@Model.Meeting.Id" asp-controller="Meetings"> <i class="bi bi-envelope"> End Meeting & SendMail</i> </a>
        @*<a asp-action="SendMail" asp-route-id="@Model.Meeting.Id" asp-controller="Meetings"> End Meeting & Send Mails </a>*@
    }

@*<a asp-action="SendMail" asp-route-id="@Model.Meeting.Id" asp-controller="Meetings"> SendMailButtonPleasePressMe </a>*@

	@*<p>
		<a asp-action="Create" asp-route-id="@Model.Meeting.Id" asp-controller="MeetingItems"> Add New Meeting Item </a>
		</p>*@
</div>


<table class="table">
	<thead>
		<tr>
			<th>
				Description @*@Html.DisplayNameFor(model => meetingItem.Description)*@
			</th>
			<th>
				Deadline @*@Html.DisplayNameFor(model => meetingItem.Deadline)*@
			</th>
			<th>
				Assigned To @*@Html.DisplayNameFor(model => meetingItem.AssignedTo)*@
			</th>
			<th>
				Risk Level @*@Html.DisplayNameFor(model => meetingItem.RiskLevel)*@
			</th>
			<th>
				Requested By  @*@Html.DisplayNameFor(model => meetingItem.RequestedBy)*@
			</th>
			<th>
				Change Requestsd @*@Html.DisplayNameFor(model => meetingItem.ChangeRequested)*@
			</th>
			<th>
				Visible In Minutes @*@Html.DisplayNameFor(model => meetingItem.VisibleInMinutes)*@
			</th>
			<th>
				File Attachment @*@Html.DisplayNameFor(model => meetingItem.FileAttachment)*@
			</th>
			
			
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var meetingItem in Model.meetingItems)
		{
			<tr>

                <td>
                    @Html.DisplayFor(modelItem => meetingItem.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => meetingItem.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => meetingItem.AssignedTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => meetingItem.RiskLevel)
                    @*var description = EnumHelper<UserPromotion>.GetDisplayValue(value);
            <li>@Html.DisplayFor(e => description )</li>
             }*@
                 @*   @{HelperFunctions.RiskLevelText(meetingItem.RiskLevel);}*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => meetingItem.RequestedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => meetingItem.ChangeRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => meetingItem.VisibleInMinutes)
                </td>
                <td>

					@if (String.IsNullOrEmpty(meetingItem.FileAttachment))
					{
						<a href="@Html.DisplayFor(modelItem => meetingItem.FileAttachment)"></a>
					}
					else
					{
						@*<a href="@meetingItem.FileAttachment.ToString()" target=_blank download >link</a>*@
                        <a href="~/files/@meetingItem.FileAttachment.ToString()" target=_blank download >link</a>
					}
                    @*Html.ActionLink("Download", "DownloadFile", new { Name = "download.txt" }) *@
					@*<a href="@Html.DisplayFor(modelItem => meetingItem.FileAttachment)">link</a>*@
				</td>
				
				
				<td>
					<a asp-action="DownloadiCal" asp-route-id="@meetingItem.Id">Save .ics</a>
				</td>
				@*
					<td>
					<a asp-action="Edit" asp-route-id="@meetingItem.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@meetingItem.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@meetingItem.Id">Delete</a>
					</td>*@
			</tr>
		}
	</tbody>
</table>