@model IEnumerable<Meeting_Minutes.Models.Meeting>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>History</h1>
<div class="container text-end">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" placeholder="Meeting Title" />
            </div>


            <br />
     
            <div class="form-group">

                <label for="dateFrom" class="control-label">From:</label>
                <input type="date" class="form-control" name="dateFrom">
                <label for="dateTo" class="control-label">to:</label>

                <input type="date" class="form-control" name="dateTo">
            </div>
           
            <div class="form-group">
                <label for="#" class="control-label"></label>
                <input name="#" class="form-control" placeholder="Participants"/>
            </div>
             <br />

                <button type="submit" class="btn btn-primary"><i class="bi bi-search"> Search</i> </button>
          

             </form>


         
    </div>
    
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participants)
            </td>
            <td>
                <a type="button" class="btn btn-primary btn-sm"asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle">Details</i></a>
               
            </td>
        </tr>
}
    </tbody>
</table>
