@model Meeting_Minutes.Models.MeetingItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var meetingID = ViewBag.Message;
}

<h1>Create</h1>

<h4>MeetingItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingId" class="control-label"></label>
                <input asp-for="MeetingId" disabled placeholder= "@meetingID" value ="@meetingID" class="form-control" />
                <span asp-validation-for="MeetingId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskLevel" class="control-label"></label>
                <input asp-for="RiskLevel" class="form-control" />
                <span asp-validation-for="RiskLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="control-label"></label>
                <input asp-for="RequestedBy" class="form-control" />
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChangeRequested" /> @Html.DisplayNameFor(model => model.ChangeRequested)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VisibleInMinutes" /> @Html.DisplayNameFor(model => model.VisibleInMinutes)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FileAttachment" class="control-label"></label>
                <input asp-for="FileAttachment" class="form-control" />
                <span asp-validation-for="FileAttachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileType" class="control-label"></label>
                <input asp-for="FileType" class="form-control" />
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-id="@meetingID" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
